* {
    font-family: "Arial";
    outline: 0;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body * {
    display: flex;
}

body {
    width: 100dvw;
    height: 100dvh;
    min-height: 100px;
    background: #545453;
    color: white;
    font-family: sans-serif;
    flex-direction: column;
}

body>div {
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.gpbuttons {
    width: 100%;
    height: 50%;
    margin-top: 5%;
    align-items: center;
    justify-content: space-around;
}

button {
    width: 40%;
    height: 80%;
    align-items: center;
    justify-content: center;
    border-radius: 50vh;
    border: 1vh solid white;
    background: none;
    font-size: 15vh;
}

.btn-final .centimeters,
.btn-final .meters {
    color: rgb(230, 0, 126);
    border: 1vh solid rgb(230, 0, 126);
}

.btn-final .centimeters:hover,
.btn-final .meters:hover {
    background-color: rgb(230, 0, 126);
    border: 1vh solid rgb(230, 0, 126);
    color: white;
}

.btn-print .centimeters,
.btn-print .milimeters {
    color: rgb(0, 159, 227);
    border: 1vh solid rgb(0, 159, 227);
}

.btn-print .centimeters:hover,
.btn-print .milimeters:hover {
    background-color: rgb(0, 159, 227);
    border: 1vh solid rgb(0, 159, 227);
    color: white;
}

#fontSize {
    width: 20%;
    min-height: 10%;
    border: 1vh solid rgba(95, 95, 95, 1);
    border-radius: 2vh;
    font-size: xxx-large;
    text-align: center;
}